name: Cross Build

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  crossbuild:
    name: Build ${{ matrix.goos }}/${{ matrix.goarch }}
    runs-on: ${{ matrix.runs_on }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - runs_on: ubuntu-latest
            goos: linux
            goarch: amd64
          - runs_on: windows-latest
            goos: windows
            goarch: amd64
          - runs_on: macos-latest
            goos: darwin
            goarch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Setup MSYS2 (Windows)
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          path-type: inherit
          update: true
          install: >-
            base-devel
            mingw-w64-x86_64-toolchain

      - name: Cross build (Linux/macOS)
        if: runner.os != 'Windows'
        shell: bash
        run: make crossbuild PLATFORMS="${{ matrix.goos }}/${{ matrix.goarch }}"
        env:
          CGO_ENABLED: "1"

      - name: Cross build (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: make crossbuild PLATFORMS="${{ matrix.goos }}/${{ matrix.goarch }}"
        env:
          CGO_ENABLED: "1"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: chatlog_${{ matrix.goos }}_${{ matrix.goarch }}
          path: |
            bin/chatlog_${{ matrix.goos }}_${{ matrix.goarch }}*
            bin/chatlog_${{ matrix.goos }}_${{ matrix.goarch }}*.exe
          if-no-files-found: error
          retention-days: 7
